body  {
    backgroud-color: #ffffff;
}

titulo  {
    color:  rgb(14, 160, 87);
    font-size: 50px;
    text-align: center;
{

.texto {
    color: #362FD9;
    font-size: 30px;
    text-align: justify;
}

#magem{
    height: 15px;
    width: 150px;
    padding: 5px;
    margin: 5px;
    border: 2px groove   #000000;
    border-radius: 20px;

}