body  {
    background-color: #e6e6e6;
}

#titulo  {
    color: #000000;
    font-size: 50px;
    text-align: center;
}

.texto {
    color: #000000;
    font-size: 30px;
    text-align: justify;
}

#imagem{
    height: 2px;
    width: 2px;
    padding: 5px;
    margin: 5px;
    border: 2px groove   #ffd000;
    border-radius: 30px;
}